
body.index{
    margin: 0;
    padding: 0;
}

/* style for firstPage div container*/
.firstPage{
    background: linear-gradient(180deg, #05331C 0%, #00C3CE 100%);
    height: 1024px;
}

/* navigation menu  */
.index ul{
    margin-top: 0%;
    display: flex;
    justify-content: center;
    list-style: none;
}

/* menu texts */
.index li{
    display: inline-block;
    color: white;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 34px;

    width: 230px;
    border: 2px solid white;
}

/* home text alignment to center */
#home{
    text-align: center;
}

/* stye for image logo */
.logoContainer{
    margin: auto;
    margin-top: -40px;

    height: 300px;
    width: 396px;
    /* background-color: rgb(255, 255, 255); */

    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-size: 396px 396px;
}

/* Sagar Distillery text div container */
.textContainer{
    margin: auto;
    margin-top: -2em;
    height: auto;
    width: auto;
    /* background-color: aliceblue; */
    text-align: center;
    color: #FFFFFF;
}

/* Sagar Distillery heading text */
.textContainer h1{
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
}

/* Sagar Distillery paragraph text */
.textContainer p{
    font-family: 'Arsenal';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}

/* Distribution button */
.buttonDist{
    margin: auto;
    margin-top: 3em;
    width: 250px;
    height: 75px;
    background-color: #05331C;
    border: 1px solid #FFFFFF;

    color: #FFFFFF;
    text-align: left;
}

/* Distribution text heading */
.buttonDist h2{
    margin-left: 1em;
}

body{
    margin: 0;
    padding: 0;
}
.second_page{
    margin: 0px;
    padding: 0px;
    height: 1024px;
    background-color: #00C3CE;
    
}
.container_second{
    margin-left: 200px;
    column-count:1;
}

.grey_wolf_heading{

    color: white;
    font-family: 'Arsenal', sans-serif;
    padding-top: 300px;

}
.grey_wolf_paragraph{

    font-family: 'Poppins', sans-serif;
    font-size: larger;

}

.grey_wolf_img{
    width: 1000px;
    height: 1000px;
    float: right;

}

.third_page{
    /* position: absolute; */
/* width: 1440px; */
/* height: 1024px; */
left: 0px;
top: 2045px;
background: linear-gradient(180deg, #00C3CE 0%, #C79C29 30.56%, #C9A954 100%);
}

.container_third{
    margin-left: 100px;
    column-count:1;
}




.royal_blue_img{
    float: right;
    width: 500px;
    height: 900px;
    /* border: 1px solid black; */
    /* left: calc(50% - 554px/2 + 350px); */
    /* bottom: 0px; */
    
}

.royal_blue_paragraph{
    margin-top: 100px;
    font-family: 'Arsenal', sans-serif Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    
}

.royal_blue_video{
    width: 35.5%;
    /* box-shadow: 5px 5px 2px 2px #242424; */
    margin-top: 180px;
    margin-left: 200px;
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0.64);
    box-shadow: 5px 5px 25px 3px #242424;
    border-radius: 10px;
}


.fourth_page{
    position: absolute;
    width: 100%;
    background: linear-gradient(180deg, #C9A954 0%, rgba(201, 169, 84, 0) 100%);
}


.glass_image{
    width: 400px;
    height: 500px;
    background-repeat: no-repeat;
    background-image: url(images/glass.png);
    float: right;
    border-top-left-radius: 10%;
    margin-top: 100px;
    
    /* margin-left: 800px; */
}

.container_fourth{
    margin: 100px;
}

.our_history_heading{
    position: relative;
    margin-top: 200px;
    justify-content: center;
    font-family: 'Arsenal';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;

    color: #000000;
}

.our_history_paragraph{
    justify-content: center;
    display: flex;
    margin-top: 50px;
    margin-right: 500px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;

    color: #232323;
}

.read_more_button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    background: #585858;
    color: #FFFFFF;
    width: 233px;
    height: 60px;
    border: none;
}